*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 8vh;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{
    color: blueviolet;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(103, 48, 155);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    margin: 7px 10px 15px 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-disenoa .container{
    text-align: center;
    padding: 200px 12px;

}

#somos-disenoa .title{
    margin-bottom: 50px;
}

#nuestros-cursos{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuestros-cursos .container{
    padding: 150px 12px;
}

#nuestros-cursos h2{
    margin-bottom: 65px;
    font-size: 3.2em;
}

#nuestros-cursos p{
    display: none;
}

#nuestros-cursos .card{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.card:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/interior.jpg");
}

.card:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/muebles.jpg");
}

.card:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/paisajismo.jpeg");
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-right: 20;
    }

    
header a{
    margin: 40px 25px 15px 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

    #hero h1{
        font-size: 5em;
    }

    #somos-disenoa .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-disenoa .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-disenoa h2{
        margin-top: 0px;
    }

    #somos-disenoa .img-container{
        background-image:
        url("media/somos.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
    }

    #nuestros-cursos .cursos{
        display: flex;
        justify-content: center;
    }

    #nuestros-cursos p{
        display: block;
        margin-top: 25px;
    }
    #nuestros-cursos h3{
        margin-top: 0;
    }

    #nuestros-cursos .card{
        padding: 50px;
        box-shadow: rgba(2, 2, 10, alpha);
    }

    #caracteristicas{
        background-image: url("media/estudio.jpeg");
        background-repeat: no-repeat;
        background-size: 500px 360px;
        background-position: calc(100vw - 700px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }
    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 1200px){
    #caracteristicas{
        background-position: calc(100vw - 800px);
    }
}


